body.text-center {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.card-header-tabs {
    margin-bottom: -0.8rem;
}

.nav-link {
    color: #495057;
}

.nav-link.active {
    color: #000;
    font-weight: bold;
}

#driver-detail-content .row {
    margin-bottom: 1rem;
}

#driver-detail-content h6 {
    font-weight: bold;
}
